.gauge-charts-container,
.statistics-charts-container {
  display: flex;
  justify-content: space-between;
}

.statistics-charts-container {
  margin: 1.5em 0 2em;
}

.widgets-container {
  display: flex;
  gap: 30px;
}
