.header {
  padding: 1em 1.9em;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 358px;
  height: 46px;
  padding: 0.8em;
  background-color: #f5f4f6;
  border-radius: 8px;
}

.search-icon,
.notification-icon {
  font-size: 1.3rem;
}

.search-icon {
  display: block;
  color: #7c7c8d;
  margin-right: 0.5em;
}

.search-bar > input {
  width: 100%;
  padding: 4px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  caret-color: #ef9011;
}

.search-bar > input::placeholder {
  color: #7c7c8d;
  font-weight: 500;
  padding-left: 0.3em;
}

.notification-icon {
  color: #72767c;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.red-dot {
  width: 9px;
  height: 9px;
  position: absolute;
  left: 10px;
  top: 2px;
  background-color: #ff5e6f;
  border: 1.5px solid #ffffff;
  border-radius: 50%;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: 1.3em;
}

.avatar > img {
  border-radius: 50%;
}
